h1{
  color: red;
  font-size: 50px

}
body{
  background-color: beige;
}

h2{
  text-align: center;
}
#heading{
  font-style: oblique;
  text-align: center;
}
#Image{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    height: auto;
}
#Text{

    width: 500px;
    margin:auto;

}
#labs{
  margin: auto;
  width: 500px;
